/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

h5 {
  font-weight: bolder;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**/

html,
body {
  max-width: 100%;
  /* overflow: hidden; */
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    background-color: white;
}

.hero {
    height: 538px;
    background: url("images/background.jpg") 50% 100% no-repeat;
    background-size: 100% 1300px;
    position: relative;
  }

.hero-header {
  position: absolute;
  top: 99px;
  width: 100%;
  padding: 50px 0;
  color: white;
  text-align: center;
}
.hero-header h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 100;
}

.nav-header {
  align-items: center;
}

.nav-header a{
  text-decoration: none;
  color: rgb(243, 239, 239);
  align-items: center;
}

.nav-header ul{
  display: flex;
  list-style-type: none;
}

.nav-header i {
  position: absolute;
}

.icon { 
  padding: 5px; 
  min-width: 20px;
}  

.input-field { 
  width: 100%; 
  padding: 2px; 
  text-align: center;
  border-radius: 10px; 
  border: 1px solid;
}

.nav-list { 
  width: 1200px; 
  margin-bottom: 10px;
  text-align: center;
   
}

.nav-list .fab {
  font-size: 25px;
}

.nav-header li {
  border: 1px solid;
  padding: 8px 25px;
  position: relative;
  top: 80px;
  left: 100px;
  z-index: 9999999999;
  width: 600px;
}
